body {
  background-image: none;
  background-color: #0b1826;
}

h1{
  color: transparent;
  font-size: 50px;
  font-family: 'Times New Roman', serif;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient(to right,
  #cb9b51 22%,
  #f6e27a 45%,
  #f6f2c0 50%,
  #f6e27a 55%,
  #cb9b51 78%); 
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 2%;
}

a {
  color: azure;
}

.home-screen {
  padding-top: 0%;
  margin-top: 0;
  margin-bottom: 2%;
  color: azure;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
}

#main {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%
}
  
.container {
  width: 66%;
  margin:auto;
  margin-top: 17%;
  bottom:0;
  left:0;
  right:0;
}

.center {
  align-items: center;
  text-align: center;
}

.movie-name {
  color: azure;
  font-size: 14px;
  margin: auto
}
.result-list {
  text-align: center;
  font-size: 17px
}

.movie-label {
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px
}

.button {
  margin-top: 7px;
  margin-bottom: 1%;
  font-size: 14px
}

#button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.list-unstyled {
  list-style: none;
  display: inline;
}

.hidden {
  display: hidden
}

@media screen and (max-width: 768px) {
  h1 {
    background-image: linear-gradient(to right,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%);
    text-align: center;
    font-size: 22px;
  }

  .home-screen {
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 13px;
  }

  .container {
    margin-top: 38%;
    width: 75%;
  }

  .movie-label {
    font-size: 14px
  }

  .result-list {
    font-size: 15px
  }
}